node_modules
# Environment files
.env
.env.txt

# Dependencies
node_modules

# Hardhat
cache
artifacts

# TypeScript
typechain-types
coverage
coverage.json

# IDE
.vscode
.idea

# Misc
.DS_Store
*.log
